.app.dark {
  --bg-color: #212167;
  --inverted-bg-color: #dedeec;

  --primary-color: green;
  --secondary-color: lightgreen;
  --inverted-primary-color: #0d28a9;
  --inverted-secondary-color: #756cf8;
}