.app.light {
    --bg-color: #dedeec;
    --inverted-bg-color: #212167;
    --primary-color: #0d28a9;
    --secondary-color: #5c53e1;
    --inverted-primary-color: green;
    --inverted-secondary-color: lightgreen;
}
